<html>
    <head>
        <title>Maros's Django Project blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Maros's Django Project blog</a></h1>
        </div>

        <div>
            <p>published: 17.03.2017, 21:15</p>
            <h2><a href="">Môj prvý príspevok</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 17.03.2017, 21:15</p>
            <h2><a href="">Môj druhý príspevok</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>